<div id="list-orders-container">
  <h1 id="title">Orders</h1>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id" id="col-id-container">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let order"> {{ order.id }} </td>
      </ng-container>

      <ng-container matColumnDef="productId" id="col-product-id-container">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let order">
          <a mat-button [title]="'View product #' + order.productId" [routerLink]="['/products', order.productId]">
            #{{ order.productId }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity" id="col-quantity-container">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let order"> {{ order.quantity }} </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice" id="col-total-price-container">
        <th mat-header-cell *matHeaderCellDef> Total price </th>
        <td mat-cell *matCellDef="let order"> {{ order.totalPrice | currency }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
