table {
  width: 100%;
}

#create-product-container:after{
  clear: both;
  content: "";
  display: table;
}

#title {
  float: left;
}

#create-product-btn {
  float: right;
}

.mat-column-actions {
  max-width: 10px;
}

@media (max-width: 600px) {
  .mat-column-stock {
    display: none;
  }
}
