<div id="list-products-container">
  <div id="create-product-container">
    <h1 id="title">Products</h1>
    <button id="create-product-btn" mat-raised-button color="accent" [routerLink]="['/products/new']">Create product</button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id" id="col-id-container">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let product"> {{ product.id }} </td>
      </ng-container>

      <ng-container matColumnDef="name" id="col-name-container">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product">
          <a mat-button [title]="'View ' + product.name" [routerLink]="['/products', product.id]">
            {{ product.name }}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="stock" id="col-stock-container">
        <th mat-header-cell *matHeaderCellDef> Stock </th>
        <td mat-cell *matCellDef="let product"> {{ product.stock }} </td>
      </ng-container>

      <ng-container matColumnDef="price" id="col-price-container">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> {{ product.price | currency }} </td>
      </ng-container>

      <ng-container matColumnDef="actions" id="col-actions-container">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let product">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteProduct(product.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item [routerLink]="['/products/' + product.id + '/edit']">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
