.container {
  margin: 60px;
}

.centered-container {
  margin: auto;
  max-width: 1200px;
}

@media (max-width: 600px) {
  .container {
    margin: 30px;
  }
}

.container-toolbar:after{
  clear: both;
  content: "";
  display: table;
}

.container-toolbar {
  width: 100%;
}

#orders-btn {
  float: right;
}

#main-btn {
  float: left;
}

#my-orders {
  margin-left: 8px;
  display: inline;
}
