<mat-toolbar color="primary">
  <div class="container-toolbar">
    <div class="container-btn" id="main-btn">
      <a mat-button [routerLink]="['/']">
        <h1>Shop Test</h1>
      </a>
    </div>
    <div class="container-btn" id="orders-btn">
      <a mat-button [routerLink]="['/orders']">
        <mat-icon>shop</mat-icon>
        <h1 id="my-orders">My Orders</h1>
      </a>
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <div class="centered-container">
    <router-outlet></router-outlet>
  </div>
</div>
