.container:after {
  clear: both;
  content: "";
  display: table;
}

.form-field-full {
  width: 100%;
}

.form-field-half {
  width: 48%;
}

#price-form-field {
  float: right;
}

#stock-form-field {
  float: left;
}

@media (max-width: 600px) {
  .form-field-half {
    float: none;
    width: 100%;
  }
}

button {
  float: right;
  margin-left: 16px;
}
