<h1>Create product</h1>

<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <form [formGroup]="createProductForm" (ngSubmit)="onSubmit(createProductForm.value)">

      <div class="container">
        <mat-form-field appearance="fill" class="form-field-full">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field-half" id="stock-form-field">
          <mat-label>Stock</mat-label>
          <input matInput type="number" formControlName="stock" min="0">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field-half" id="price-form-field">
          <mat-label>Price</mat-label>
          <input type="number" formControlName="price" min="0" matInput>
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="container">
        <button mat-raised-button color="accent" type="submit">Confirm</button>
        <button mat-stroked-button color="primary" [routerLink]="['/']">Cancel</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
