<h1>Edit product</h1>

<mat-card class="mat-elevation-z8" *ngIf="product">
  <mat-card-content>
    <form [formGroup]="editProductForm" (ngSubmit)="onSubmit(editProductForm.value)">

      <div class="container">
        <mat-form-field appearance="fill" class="form-field-full">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field-half" id="stock-form-field">
          <mat-label>Stock</mat-label>
          <input matInput type="number" min="0" formControlName="stock">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field-half" id="price-form-field">
          <mat-label>Price</mat-label>
          <input matInput type="number" min="0" formControlName="price">
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="container">
        <button mat-raised-button color="accent" type="submit">Confirm</button>
        <button mat-stroked-button color="primary" [routerLink]="['/']">Cancel</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
