#delete-product-container:after{
  clear: both;
  content: "";
  display: table;
}

#title {
  float: left;
}

#edit-product-btn, #delete-product-btn {
  margin-left: 16px;
}

.btn-container {
  float: right;
  margin-bottom: 16px;
}

.header-image {
  background-image: url('../../assets/box.png');
  background-size: cover;
}

mat-form-field {
  margin-right: 16px;
  width: 100px;
}
