<div id="delete-product-container">
  <h1 id="title">Product details</h1>
  <div class="btn-container" *ngIf="product">
    <button id="edit-product-btn" mat-stroked-button color="primary" [routerLink]="['/products/' + product.id + '/edit']">
      Edit
    </button>
    <button id="delete-product-btn" mat-raised-button color="warn" (click)="deleteProduct()">Delete</button>
  </div>
</div>

<mat-card *ngIf="product" class="mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>Product id: {{ product.id }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Price: <b>{{ product.price | currency }}</b></p>
    <p>{{ product.stock }} items left in stock</p>

    <br>

    <form [formGroup]="buyProductForm" (ngSubmit)="onSubmit(buyProductForm.value)">
      <div class="container">
        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input matInput type="number" min="0" formControlName="quantity">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Buy</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
